:root {
  --background-color: #212121;
  --navbar-color: #424242;
  --navbar-height: 4em;
  --navbar-padding: 0.5em;
  --logo-width: calc(var(--navbar-height) * 4.5);
  --logo-padding: 0.25em;
  --form-input-height: 40px;
}

#root {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 974px;
}

/* Navbar */
.navbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--navbar-padding);
  height: var(--navbar-height);
  background-color: var(--navbar-color);
}

.logo {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  padding: var(--logo-padding);
}

.logo a {
  display: block;
  width: 180px;
  height: 40px;
  font-size: 0;
  background-image: url(./img/yt_logo_rgb_dark.png);
  background-size: cover;
}

.search-form {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 4px;
}

.search-form input,
button {
  padding: 2px;
  width: 100%;
  height: var(--form-input-height);
}

.search-form button {
  width: 3em;
  height: var(--form-input-height);
}

/* Content */
.content {
  /* background-color: var(--background-color); */
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}
.item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0.25em;
  width: 30em;
  height: 6em;
  margin: 2.5px;
  box-shadow: 2.5px 2.5px 2.5px rgb(128, 128, 128, 0.5);
}

.item .thumb {
  max-width: 172px;
  max-height: 6em;
}
.item .vid-info {
  padding: 0.5em;
}
